# Игнорировать временные файлы
*.class
*.log
*.iml

# Игнорировать файлы сборки и конфигурации
target/
.classpath
.project
.settings/

# Игнорировать логи и отчеты тестов
logs/
test-output/

# Игнорировать IDE-специфичные файлы
.idea/

# Игнорировать зависимости Maven
/.m2/

# Игнорировать файлы конфигурации Selenium
geckodriver.log

# Игнорировать файлы отчетов Allure
allure-results/
allure-report/

# Игнорировать файлы конфигурации тестов
testng.xml

# Игнорировать временные файлы
*.tmp
*.swp

# Игнорировать файлы конфигурации для рест-тестирования
rest-assured-*.json

# Игнорировать файлы конфигурации для TestNG
test-output/

# Игнорировать файлы настроек системы сборки
build/

# Игнорировать файлы логирования
logs/
*.log
